page-choose {
    .logo{
        text-align:center;
        padding: 100px 0 0 0;
        img{width:100px;}
    }
    .choose-buts{
        padding:90px 16px 0 16px;
        .nor-button{margin-top:15px;}
    }
}
