gzlist {
    .tl-title{
        height: 40px;
        background:#E1E2DC;
        text-align:center;line-height:43px;
        color:#666;font-size:13px;
        .md{margin-right:10px;}
    }
    .gz{
        border:solid 2px #ccc;vertical-align:middle;
        padding:1px;width:25px;height:25px;line-height:25px;
        display:inline-block;position:relative;top:-2px;
        span{
            display:inline-block;width:100%;height:100%;
            border:solid 1px #ccc;
            border-radius:5px;
            color:#fff;
            ion-icon{
                position:relative;top:-1px;
            }
        }
        &.sgz{
            width:20px;height:20px;line-height:20px;
            border-width:1px;
            span{
                border-width:1px;
            }
            margin-right:4px;
        }
        &.sel{
            background:#9DC639;
            span{
                background:#769E2B;
                border-color:#fff;
            }
        }
        &.sel_mg{
            background:#F59F9E;
            span{
                background:#D94F45;
                border-color:#fff;
            }
        }
        &.sel_kk{
            background:#409AE3;
            span{
                background:#006DD9;
                border-color:#fff;
            }
        }
        &.sel_mk{
            background:#ECB144;
            span{
                background:#FFBF00;
                border-color:#fff;
            }
        }
    }
    .xz-lists{
        .md{
            width:16.66%;
            float:left;
            padding: 8px;
            .gz{
                border-width:1px;
                width:100%;
                height:40px;
                padding:5px;
                text-align:center;
                line-height:40px;
                span{
                    font-size:22px;
                    ion-icon{
                        position:relative;
                        top:-4px;
                    }
                }
            }
        }
    }
}
